<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %> 

<main>
    <h1><%= title %> </h1>
    <section>
        <div>Airline: </div>
        <div><%= flight.airline %> <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Airline</button></a></div>
        <br>
        <div>Airport: </div>
        <div><%= flight.airport %> </div>
        <br>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %> </div>
        <br>
        <div>Depart Time: </div>
        <div><%= flight.departs %> </div>
        <br>
        <div>Meal: </div>
        <ul>
          <% flight.meals.forEach(mealItem => { %> 
            <li><%= mealItem.name %> </li>
          <% }) %> 
        </ul>
    </section>
    <form action="/flights/<%= flight._id %>/meals" method="post">
      <select name="mealId">
        <% meals.forEach(meal => { %> 
          <option value="<%= meal._id %>"><%= meal.name %></option>
        <% }) %> 
      </select><br>
      <button type="submit">Add to Meal</button>
    </form>

    <h2>Add your Ticket</h2>
    <form action="/flights/<%= flight._id %>/ticket" method="POST">
        <label>Seat:  </label>
        <input name="seat" required pattern="[A-F][1-9]\d?"> <br>
        <label>Price: </label>
        <input type="number" name="price" min="0"><br>
        <button type="submit">Add Ticket</button>
    </form>
</main>
<% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <td>Seat</td>
          <td>Price</td>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            
            <td><%= ticket.seat %></td>
            <td>$<%= ticket.price %>.00</td>
            <td>
              <form action="/flights/<%= flight._id %>/ticket/<%= ticket._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Ticket Added</h3>
  <% } %>

  
<%- include('../partials/footer') %> 